@include reset;

html, body{
  height: 100%;
}

body{
  font-size: 19px;
  position: relative;
  line-height: 1.65;
  font-family: $font-default;
  color: $color-default;
  font-weight: 100;
  overflow-x: hidden;
  opacity: 1;
  background-color: #191e3f;
  @include xs(font-size,16px);
}

section {
	position: relative;
}


img{
  display: block;
}