header {
  background: url("../img/mountain-back.png") center top no-repeat;
  background-size: auto;
  @include md(background-size, contain);
}

.background-fill{
  background-color: rgba($color-blue,.75);
}

.header__inner{
  @include wrapper;
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 84px;
  width: 127px;
  margin-right: 32px;
}

.hamburger{
  position: fixed;
  display: inline-block;
  right: 10px;
  top: 99px;
  z-index: 100;
  &.hamburger__opened{
    right: 160px;
    .hamburger__button{
      transition: all .4s ease-in-out;
      background-color: rgba(black,.45);
      border-radius: 5px;
    }
    .hamburger__button:before{
      transition: all .4s ease-in-out;
      transform: rotate(45deg);
      top: 22px;
    }
    .hamburger__button:after{
      transition: all .4s ease-in-out;
      transform: rotate(-45deg);
      bottom: 22px;
    }
  }
}


.hamburger__button{
  outline: none;
  position: relative;
  width: 48px;
  height: 47px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:before , &:after {
    transition: all .4s ease-in-out;
    content: '';
    position: absolute;
    height: 4px;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  &:before {
    top: 15px;
  }
  &:after{
    bottom: 15px;
  }

}

.slogan{
  font-size: 77px;
  line-height: 88.44px;
  font-weight: 100;
  letter-spacing: -1.8px;
  margin-top: 310px;
  @include xs(font-size, 50px)
}

.menu-header__list{
  padding-top: 20px;
  position: fixed;
  right: -150px;
  top: 0;
  height: 100vh;
  width: 150px;
  text-align: left;
  background-color: #fff;
  transition: all .4ms ease-in-out;
  z-index: 100;
  &.menu-header__opened{
    animation: ease-in-out 0.4s forwards moveLeftMenu;
  }
}

@keyframes moveLeftMenu {
  to{
    right: 0;
  }
}

.menu-header__link{
  text-decoration: none;
  padding: 15px;
  color: $color-blue;
  transition: all .2s ease-in-out;
  &:hover{
    text-shadow: 5px 5px 10px #000;
    transition: all .2s ease-in-out;
  }
}