

.mission {
  margin-top: 644px;
  @include lg(margin-top,500px);
  @include md(margin-top,300px);
  @include sm(margin-top,100px);
}

.section__title{
  position: absolute;
  z-index: 1;
  font-family: "Yantramanav",sans-serif;
  font-weight: 900;
  font-size: 286px;
  line-height: 1;
  color: rgba($color-default,.01);
  transition: all .5s ease-in-out;
  span{
    position: absolute;
    font-family: Raleway,sans-serif;
    font-weight: 100;
    font-size: 33px;
    transform: rotate(-90deg);
    left: 85px;
    bottom: 134px;
    z-index: 3;
    letter-spacing: 0;
    color: $color-default;
  }
}

.mission__title{
  top: 173px;
  left: -75px;
  letter-spacing: -17.16px;
  @include md(top,100px);
  @include sm(top,50px);
}

.mission__image{
  position: relative;
  width: 660px;
  left: 163px;
  z-index: 4;
  box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  @include size-md(10);
  @include sm-block{
    left: 100px;
  }
}

.mission_text{
  text-align: left;
  position: absolute;
  width: 474px;
  z-index: 4;
  right: 0;
  top: 240px;
  line-height: 1.2;
  transition: all .5s ease-in-out;
  @include size-sm(10);
  @include xs(top,100px);
}

.mission_text p:nth-child(n + 2) {
  margin-top: 25px;
}