.team {
  @include wrapper;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 1125px;
}

.team__title{
  left: 0;
  letter-spacing: -5.72px;
  span{
    left: 105px;
  }
}

.team__letter{
  top: 375px;
  z-index: 1;
}

.person_image{
  position: absolute;
  z-index: 2;
  box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
}

.person__description{
  position: absolute;
  z-index: 3;
  text-align: left;
}

.team__person:nth-of-type(1){
  .person_image{
    top: 60px;
    right: 165px;
    @include md(top,0);
    @include sm(right,0);
    @include size-md(10);
  }
  .person__description{
    top: 372px;
    left: 295px;
    width: 320px;
    @include size-md(8);
    @include md(left,230px);
    @include size-sm(10);
    @include sm-block{
      top: 260px;
      left: 0;
    }
    @include size-sm(12);
    @include xs(top,160px);
  }
}

.team__person:nth-of-type(2){
  .person_image{
    top: 868px;
    left: 40px;
    @include size-md(6);
    @include sm(top,650px);
    @include size-sm(8);
  }
  .person__description{
    top: 1079px;
    right: 576px;
    @include sm-block{
      top: 750px;
      right: 380px;
    };
    @include xs(right,200px);
  }
}

.team__person:nth-of-type(3){
  .person_image{
    top: 998px;
    right: 68px;
    @include size-md(6);
    @include size-sm(8);
    @include sm-block{

    }
  }
  .person__description{
    top: 1248px;
    right: 250px;
    @include md-block{
      right: 100px;
      top: 1100px;
    };
  }
}

.team__person:nth-of-type(4){
  .person_image{
    top: 1435px;
    right: 715px;
    @include size-md(6);
    @include size-sm(8);
    @include lg(right,500px);
    @include md(right,400px);
    @include sm(right,300px);
    @include xs-block{
      right: 100px;
      top: 1350px;
    };
  }
  .person__description{
    top: 1682px;
    left: 70px;
    @include xs-block{
      top: 1550px;
    };
  }
}

.team__person:nth-of-type(5){
  .person_image{
    top: 1663px;
    left: 733px;
    @include size-md(6);
    @include lg(left,600px);
    @include md(left,500px);
    @include sm(left,350px);
    @include size-sm(8);
    @include xs-block{
      left: 100px;
    };
  }
  .person__description{
    top: 1911px;
    right: -30px;
    @include xs-block{
      top: 1850px;
      right: 0;
    };
  }
}

.person__name{
  display: block;
  font-size: 38px;
  position: relative;
  padding-top: 20px;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: $color-default;
    width: 58px;
  }
}

.person__position{
  opacity: 0.5;
  display: block;
}

.person__about{
  font-size: 15px;
  display: block;
  padding-top: 37px;
  line-height: 1.2;
  p:nth-child(2){
    padding-top: 20px;
  }
}